#container {
  background-image: url(/assets/images/Background_Intro.png);
  width: 100vw;
  height: 750px;
  background-size: cover;
}


#profile {
  display: block;
  margin: auto;
  position: relative;
  width: fit-content;
  padding-top: 132px;
}

#icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

#bio {
  display: flex;
  width: 680px;
  padding-top: 56px;
  justify-content: center;
  margin-inline: auto;
}

#title {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  align-items: center;
  h2 {
    padding-bottom: 8px;
  }
  h1 {
    padding-bottom: 20px;
  }
}

#tecnologias ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin-top: 80px;
  width: 754px;
  margin-inline: auto;
}

#tecnologias ul li {
  display: flex;
  width: 144px;
  height: 40px;
  background-color: var(--gray-300);
  justify-content: center;
  align-items: center;
  padding: 9px 16px;
  gap: 8px;
  border-radius: 100px;
}

.arrow {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
